<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Courses Organizer Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: #3e3e3e;
            color: white;
        }

        .checkbox-wrapper {
          position: relative;
          top: -1px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Community College</h1>
    <h4 class="text-center">With Spring Security</h4>
    <br>
    <form class="form-signin" method="post" action="/login">
        <h5 class="form-signin-heading">Please login</h5>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <label class="checkbox-inline" data-toggle="collapse">
            <input type="checkbox" id="remember-me" name="remember-me" >
            &nbsp;Remember me?
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <div th:if="${errorMessage}"
             th:text="${errorMessage}" class="alert alert-danger" role="alert">

        </div>
        <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>